affine
aiohttp
aiosignal
annotated-types
anyio
appnope
asgiref
asttokens
async-timeout
attrs
audioread
beautifulsoup4
bokeh
branca
Brotli
certifi
cffi
charset-normalizer
click
click-plugins
cligj
colorama
comm
contourpy
cycler
dataclasses-json
debugpy
decorator
dj-database-url
Django
django-cors-headers
django-filter
django-leaflet
djangorestframework
exceptiongroup
executing
fastapi
ffmpeg
ffprobe
filelock
fiona
folium
fonttools
frozenlist
fsspec
GDAL 
geopandas
gigachain
gigachain-cli
gigachain-community
gigachain-core
gigachain-text-splitters
gigachat
gigaserve
gitdb
GitPython
greenlet
gunicorn
h11
httpcore
httpx
httpx-sse
huggingface-hub
idna 
install
ipykernel 
ipython 
jedi 
Jinja2
joblib 
jsonpatch
jsonpointer
jupyter_client 
jupyter_core 
kiwisolver 
langsmith
lazy_loader
libcst
librosa
llvmlite
mapclassify 
markdown-it-py
MarkupSafe
marshmallow
matplotlib 
matplotlib-inline
mbutil
mdurl
mkl-fft 
mkl-random 
mkl-service
mpmath
msgpack
multidict
munkres
mypy-extensions
nest-asyncio 
networkx 
numba
numpy==1.26.4
orjson
osmnx 
packaging 
pandas
parso 
pexpect 
Pillow 
platformdirs 
plotly
pooch
prompt-toolkit 
psutil 
psycopg2
ptyprocess 
pure-eval
PyAudio
pycparser
pydantic
pydantic_core
pydub
Pygments 
pyparsing 
pyproj 
PySocks 
python-dateutil
pytube
pytz
PyYAML
pyzmq 
rasterio 
regex
requests
rich
Rtree 
safetensors
scikit-learn 
scipy
shapely
shellingham
six
smmap
sniffio
snuggs 
soundfile
soupsieve 
soxr
SQLAlchemy
sqlparse
srt
sse-starlette
stack-data 
starlette
sympy
tenacity
threadpoolctl 
tokenizers
tomlkit
torch
tornado 
tqdm
traitlets 
transformers
typer
typing-inspect
typing_extensions 
tzdata
unicodedata2 
urllib3
uvicorn
vosk
wcwidth 
websockets
xyzservices 
yarl
